USE [master]
GO
/****** Object:  Database [PROYECTO_CSHARP]    Script Date: 25/05/2018 1:55:25 p. m. ******/
CREATE DATABASE [PROYECTO_CSHARP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECTO_CSHARP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PROYECTO_CSHARP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROYECTO_CSHARP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PROYECTO_CSHARP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROYECTO_CSHARP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROYECTO_CSHARP]
GO
USE [PROYECTO_CSHARP]
GO
/****** Object:  User [homestead]    Script Date: 25/05/2018 1:55:25 p. m. ******/
CREATE USER [homestead] FOR LOGIN [homestead] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [homestead]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [homestead]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [homestead]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [homestead]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [homestead]
GO
ALTER ROLE [db_datareader] ADD MEMBER [homestead]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [homestead]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [homestead]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [homestead]
GO
/****** Object:  Table [dbo].[DEPARTAMENTOS]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTOS](
	[DEPARTAMENTO_ID] [varchar](7) NOT NULL,
	[NOMBRE_DEPARTAMENTO] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPARTAMENTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITOS]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITOS](
	[DISTRITO_ID] [varchar](7) NOT NULL,
	[NOMBRE_DISTRITO] [varchar](100) NULL,
	[PROVINCIA_ID] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DISTRITO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[EMPLEADO_ID] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDOS] [varchar](100) NOT NULL,
	[NOMBRE] [varchar](60) NOT NULL,
	[DNI] [char](8) NOT NULL,
	[GENERO] [varchar](30) NOT NULL,
	[ESTADO_CIVIL] [varchar](30) NOT NULL,
	[DIRECCION] [varchar](300) NOT NULL,
	[DISTRITO_ID] [varchar](7) NOT NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLEADO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[PROVINCIA_ID] [varchar](7) NOT NULL,
	[NOMBRE_PROVINCIA] [varchar](100) NULL,
	[ESTADO] [varchar](100) NULL,
	[DEPARTAMENTO_ID] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROVINCIA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS](
	[TELEFONO_ID] [int] IDENTITY(1,1) NOT NULL,
	[OPERADOR] [varchar](60) NOT NULL,
	[NUMERO] [varchar](20) NULL,
	[EMPLEADO_ID] [varchar](7) NOT NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TELEFONO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DEPARTAMENTOS] ([DEPARTAMENTO_ID], [NOMBRE_DEPARTAMENTO]) VALUES (N'11', N'BOGOTÁ, D.C.')
GO
INSERT [dbo].[DEPARTAMENTOS] ([DEPARTAMENTO_ID], [NOMBRE_DEPARTAMENTO]) VALUES (N'13', N'BOLÍVAR')
GO
INSERT [dbo].[DEPARTAMENTOS] ([DEPARTAMENTO_ID], [NOMBRE_DEPARTAMENTO]) VALUES (N'15', N'BOYACÁ')
GO
INSERT [dbo].[DISTRITOS] ([DISTRITO_ID], [NOMBRE_DISTRITO], [PROVINCIA_ID]) VALUES (N'1', N'BOGOTA', N'107')
GO
INSERT [dbo].[DISTRITOS] ([DISTRITO_ID], [NOMBRE_DISTRITO], [PROVINCIA_ID]) VALUES (N'2', N'otro', N'103')
GO
INSERT [dbo].[DISTRITOS] ([DISTRITO_ID], [NOMBRE_DISTRITO], [PROVINCIA_ID]) VALUES (N'3', N'otro', N'13')
GO
SET IDENTITY_INSERT [dbo].[EMPLEADOS] ON 
GO
INSERT [dbo].[EMPLEADOS] ([EMPLEADO_ID], [APELLIDOS], [NOMBRE], [DNI], [GENERO], [ESTADO_CIVIL], [DIRECCION], [DISTRITO_ID], [ESTADO]) VALUES (49, N'DIAZ', N'EDWARD', N'12345   ', N'MASCULINO', N'CASADO', N'CALLE', N'1', 1)
GO
SET IDENTITY_INSERT [dbo].[EMPLEADOS] OFF
GO
INSERT [dbo].[PROVINCIAS] ([PROVINCIA_ID], [NOMBRE_PROVINCIA], [ESTADO], [DEPARTAMENTO_ID]) VALUES (N'1', N'Abriaquí', N'1', N'5')
GO
INSERT [dbo].[PROVINCIAS] ([PROVINCIA_ID], [NOMBRE_PROVINCIA], [ESTADO], [DEPARTAMENTO_ID]) VALUES (N'10', N'Aguadas', N'1', N'17')
GO
INSERT [dbo].[PROVINCIAS] ([PROVINCIA_ID], [NOMBRE_PROVINCIA], [ESTADO], [DEPARTAMENTO_ID]) VALUES (N'100', N'Betania', N'1', N'5')
GO
SET IDENTITY_INSERT [dbo].[TELEFONOS] ON 
GO
INSERT [dbo].[TELEFONOS] ([TELEFONO_ID], [OPERADOR], [NUMERO], [EMPLEADO_ID], [ESTADO]) VALUES (40, N'TIGO', N'3134588185', N'49', 1)
GO
SET IDENTITY_INSERT [dbo].[TELEFONOS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLEADO__C035B8DDA81DDB63]    Script Date: 25/05/2018 1:55:25 p. m. ******/
ALTER TABLE [dbo].[EMPLEADOS] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLEADO__C035B8DDFDD80C3B]    Script Date: 25/05/2018 1:55:25 p. m. ******/
ALTER TABLE [dbo].[EMPLEADOS] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TELEFONO__7500EDCB9AB27270]    Script Date: 25/05/2018 1:55:25 p. m. ******/
ALTER TABLE [dbo].[TELEFONOS] ADD UNIQUE NONCLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TELEFONO__7500EDCBF7DA1104]    Script Date: 25/05/2018 1:55:25 p. m. ******/
ALTER TABLE [dbo].[TELEFONOS] ADD UNIQUE NONCLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLEADOS] ADD  DEFAULT ('1') FOR [ESTADO]
GO
ALTER TABLE [dbo].[TELEFONOS] ADD  DEFAULT ('1') FOR [ESTADO]
GO
/****** Object:  StoredProcedure [dbo].[PS_BUSCAR_EMPLEADO_LIKE]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PS_BUSCAR_EMPLEADO_LIKE]
@NOMBRE VARCHAR(60)
AS
BEGIN
SELECT 
	EMPLEADO_ID,
	APELLIDOS,
	NOMBRE,
	DNI,
	GENERO,
	NOMBRE_DISTRITO
FROM EMPLEADOS E
INNER JOIN 
	DISTRITOS D ON E.DISTRITO_ID = D.DISTRITO_ID
WHERE 
	NOMBRE LIKE '%'+@NOMBRE+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_EMPLEADO]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ACTUALIZAR_EMPLEADO]
@APELLIDOS VARCHAR(100),
@NOMBRE VARCHAR(60),
@DNI VARCHAR(5) ,
@GENERO VARCHAR(30) ,
@ESTADO_CIVIL VARCHAR(30),
@DIRECCION VARCHAR(300),
@DISTRITO_ID VARCHAR(7),
@EMPLEADO_ID INT
AS 
BEGIN
UPDATE       EMPLEADOS
SET                APELLIDOS = @APELLIDOS, NOMBRE = @NOMBRE, DNI = @DNI, GENERO = @GENERO, ESTADO_CIVIL = @ESTADO_CIVIL, DIRECCION = @DIRECCION, DISTRITO_ID = @DISTRITO_ID
WHERE EMPLEADO_ID = @EMPLEADO_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_EMPLEADO_POR_ID]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCAR_EMPLEADO_POR_ID]
@ID INT
AS
BEGIN
SELECT        
	E.EMPLEADO_ID,
	E.APELLIDOS, 
	E.NOMBRE, 
	E.DNI, E.GENERO, 
	E.ESTADO_CIVIL,  
	E.DIRECCION,
	E.DISTRITO_ID, 
	P.PROVINCIA_ID, 
	DP.DEPARTAMENTO_ID              
FROM            EMPLEADOS AS E 
INNER JOIN
                         DISTRITOS D ON E.DISTRITO_ID = D.DISTRITO_ID INNER JOIN
                         PROVINCIAS P ON D.PROVINCIA_ID = P.PROVINCIA_ID INNER JOIN
                         DEPARTAMENTOS DP ON P.DEPARTAMENTO_ID = DP.DEPARTAMENTO_ID
WHERE E.EMPLEADO_ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_TELEFONOS_POR_EMPLEADO_ID]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCAR_TELEFONOS_POR_EMPLEADO_ID]
@ID INT
AS
BEGIN
SELECT * FROM TELEFONOS WHERE EMPLEADO_ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DEPARTAMENTOS]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_DEPARTAMENTOS]
AS 
BEGIN
	SELECT * FROM DEPARTAMENTOS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DISTRITOS]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_DISTRITOS]
@PROVINCIA_ID VARCHAR(7)
AS
BEGIN
 SELECT * FROM DISTRITOS WHERE PROVINCIA_ID = @PROVINCIA_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_EMPLEADOS]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_EMPLEADOS]
AS 
BEGIN
SELECT  E.EMPLEADO_ID, E.APELLIDOS, E.NOMBRE, E.DNI, E.GENERO, D.NOMBRE_DISTRITO
FROM            EMPLEADOS AS E INNER JOIN
                         DISTRITOS AS D ON D.DISTRITO_ID = E.DISTRITO_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_PROVINCIAS]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_PROVINCIAS]
@DEPARTAMENTO_ID VARCHAR(7)
AS 
BEGIN
	SELECT * FROM PROVINCIAS WHERE DEPARTAMENTO_ID = @DEPARTAMENTO_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTAR_TELEFONOS]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REGISTAR_TELEFONOS]
@OPERADOR VARCHAR(50),
@NUMERO VARCHAR(10),
@EMPLEADO_ID VARCHAR(7)
AS
BEGIN
INSERT INTO TELEFONOS
                         (OPERADOR, NUMERO, EMPLEADO_ID)
VALUES        (@OPERADOR,@NUMERO,@EMPLEADO_ID)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_EMPLEADO]    Script Date: 25/05/2018 1:55:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REGISTRAR_EMPLEADO]
@APELLIDOS VARCHAR(100),
@NOMBRE VARCHAR(60),
@DNI VARCHAR(5) ,
@GENERO VARCHAR(30) ,
@ESTADO_CIVIL VARCHAR(30),
@DIRECCION VARCHAR(300),
@DISTRITO_ID VARCHAR(7),
@ULTIMO_ID INT OUTPUT
AS
BEGIN
INSERT INTO EMPLEADOS
                         (APELLIDOS, NOMBRE, DNI, GENERO, ESTADO_CIVIL, DIRECCION, DISTRITO_ID)
VALUES        (@APELLIDOS,@NOMBRE,@DNI,@GENERO,@ESTADO_CIVIL,@DIRECCION,@DISTRITO_ID)
SET @ULTIMO_ID =SCOPE_IDENTITY()
RETURN @ULTIMO_ID
END
GO
USE [master]
GO
